.star-cross-section {
	fill: #bbb;
	stroke: #000;
}

.star-cross-section-highlight {
	fill: #999;
	stroke: #000;
}

.measure-path {
	stroke: #000;
	fill: #000;
}

.measure-text {
	stroke: #000;
	fill: #000;
}